footer {
    display: flex;
    height: 100px;
    width: 100%;
    background: url(/img/footer.png);
    background-repeat: repeat;
    background-size: contain;
    justify-content: center;
    align-items: center;
    color:white;
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.centertext {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
}


.spacer-title{
    margin: auto;
    background: #607d8b;
}

body {
display: flex;
min-height: 100vh;
flex-direction: column;
}

@media (max-width: 900px) {
    footer {
        display: flex;
        height: 100px;
        width: 100%;
        background: url(/img/footer.png);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
}